{% extends 'base.html' %}
{% load static %}

{% block title %}- Adicionar desafio para ladder{% endblock %}

{% block page_header %}
Adicionar desafio
{% endblock %}

{% block extra_header %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

{% comment %}
Hackzinho para evitar mostrar opção desabilitada
{% endcomment %}
<style>
.select2-results__option[aria-disabled=true] {
    display: none;
}
</style>
{% endblock %}

{% block content %}
	<form class="col-12" action="{% url 'ladder:adicionar_desafio_ladder' %}" method="post">
	    {% csrf_token %}
	    
        {% include "form.html" with form=form_desafio_ladder %}
	    
	    {{ formset_lutas.management_form }}
        {% for form in formset_lutas %}
        	<h3 id="id_header_luta_{{ forloop.counter }}" class="invisible">Luta {{ forloop.counter }}</h3>
        	
        	{% with forloop.counter|stringformat:"s" as forloop_string %}
        	{% include "form.html" with form=form row_id="id_row_luta_"|add:forloop_string row_extra_classes="invisible" %}
        	{% endwith %}
        {% endfor %}
        
	  	<input class="btn btn-lg btn-dark mt-4" type="submit" value="Salvar">
	</form>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src={% static "jquery.mask.min.js" %} type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function(){
	$('select').select2();
	
	// Forçar ganhador a ser um dos 2 jogadores selecionados
	$("select[id$='ganhador'] option[value!='']").each(function() {
		// Desafiante
		var desafiante = $("select[id='id_desafiante']").select2('data')[0];
		// Desafiado
		var desafiado = $("select[id='id_desafiado']").select2('data')[0];
		
		if ($(this).val() == '' || $(this).val() == desafiante.id || $(this).val() == desafiado.id) {
			return;
		} else {
			$(this).remove();
		}
	});
	
	// A cada ganhador definido, verificar se já pode preencher o resto
	$("select[id$='ganhador']").on('select2:select', function (e) {
	  	preencherGanhadores();
	});
	
	$("select[id='id_desafiante']").on('select2:select', function (e) {
	  	recarregarParticipantes();
	  	
	  	// Buscar desafiaveis ao alterar desafiante
	  	buscarDesafiaveis();
	  	
	  	buscarPersonagensJogador($(this));
	  	
	  	preencherGanhadores();
	});
	
	$('#id_desafio_coringa').change(function(){
		buscarDesafiaveis();
	});
	
	$("select[id='id_desafiado']").on('select2:select', function (e) {
	  	recarregarParticipantes();
	  	
	  	buscarPersonagensJogador($(this));
	  	
	  	preencherGanhadores();
	});
	
	$('.data-hora').mask('00/00/0000 00:00', {placeholder: 'DD/MM/AAAA hh:mm'});
	
	// Verificar se data está preenchida
	if ($('.data-hora').cleanVal().length < 12) {
		$('input[type=submit]').attr('disabled', true);
	}
	
	$('.data-hora').on('input', function() {
		if ($(this).cleanVal().length < 12) {
			$('input[type=submit]').attr('disabled', true);
			$(this).parent().find('.text-danger').remove();
			$(this).parent().append('<div class="text-danger">Preencha até o final no formato DD/MM/AAAA hh:mm</div>');
		} else {
			$('input[type=submit]').attr('disabled', false);
			$(this).parent().find('.text-danger').remove();
			buscarDesafiaveis();
		}
	});
	
	// Adicionar botões de repetição para desafiantes
	$("select[id$='personagem_desafiante']").each(function() {
		var indice = $(this).attr('id').replace(/\D/g, '');
		if (indice > 0) {
			$(this).parent().append(
				'<input type="button" value="Repetir" class="btn btn-sm btn-dark m-0" id="repetir_desafiante_' + indice + '">'
			);
		}
	});
	
	// Adicionar botões de repetição para desafiados
	$("select[id$='personagem_desafiado']").each(function() {
		var indice = $(this).attr('id').replace(/\D/g, '');
		if (indice > 0) {
			$(this).parent().append(
				'<input type="button" value="Repetir" class="btn btn-sm btn-dark m-0" id="repetir_desafiado_' + indice + '">'
			);
		}
	});
	
	// Repetições para desafiantes
	$('input[id^="repetir_desafiante"]').click(function(){
		// Busca personagem desafiante anterior
		var indice = parseInt($(this).attr('id').slice(-1));
		
		var desafiante_anterior = $('#id_desafio_ladder_luta-' + (indice-1) + '-personagem_desafiante').select2('data')[0];
		if (desafiante_anterior.id) {
			$('#id_desafio_ladder_luta-' + (indice) + '-personagem_desafiante').val(desafiante_anterior.id).trigger('change');
		}
	});
	
	// Repetições para desafiados
	$('input[id^="repetir_desafiado"]').click(function(){
		// Busca personagem desafiado anterior
		var indice = parseInt($(this).attr('id').slice(-1));
		
		var desafiado_anterior = $('#id_desafio_ladder_luta-' + (indice-1) + '-personagem_desafiado').select2('data')[0];
		if (desafiado_anterior.id) {
			$('#id_desafio_ladder_luta-' + (indice) + '-personagem_desafiado').val(desafiado_anterior.id).trigger('change');
		}
	});
	
	// Mostrar lutas de acordo com scores
	mostrarApenasLutasValidas();
	preencherGanhadores();
	$('input[id*="score"]').change(function(){
		mostrarApenasLutasValidas();
		preencherGanhadores();
	});
	
	buscarDesafiaveis();
	buscarPersonagensJogador($("select[id='id_desafiante']"));
	buscarPersonagensJogador($("select[id='id_desafiado']"));
});

function recarregarParticipantes() {
	// Apagar atuais
	$("select[id$='ganhador'] option[value!='']").remove();
	
	// Desafiante
	var desafiante = $("select[id='id_desafiante']").select2('data')[0];
	if (desafiante.id) {
		var newOption = new Option(desafiante.text, desafiante.id, false, false);
		$("select[id$='ganhador']").append(newOption);
	}
	
	// Desafiado
	var desafiado = $("select[id='id_desafiado']").select2('data')[0];
	if (desafiado.id) {
		var newOption = new Option(desafiado.text, desafiado.id, false, false);
		$("select[id$='ganhador']").append(newOption);
	}
	
	$("select[id$='ganhador']").trigger('change');
}

function buscarDesafiaveis() {
	// Buscar apenas de desafiavel estiver preenchido
	if (!$("select[id='id_desafiante']").val()) {
		return;
	}
	
	ajax("{% url 'jogadores:listar_desafiaveis_json' %}", 
		'POST', 
		{jogador_id: $("select[id='id_desafiante']").val(), data_hora: $('#id_data_hora').val(), coringa: $('#id_desafio_coringa:checked').length}, 
		function(resultado) {
        	// Verifica mensagem de erro
        	if (resultado.mensagem_erro) {
        		$("select[id='id_desafiante']").parent().find('.text-danger').remove();
        		$("select[id='id_desafiante']").parent().append('<div class="text-danger">' + resultado.mensagem_erro + '</div>');
        		return;
        	} else {
				$("select[id='id_desafiante']").parent().find('.text-danger').remove();
			}
        	
        	// Guarda valor de desafiado
        	var guardaDesafiado = $("select[id='id_desafiado']").select2('data')[0].id;
        	
        	// Limpar opções
        	$("select[id='id_desafiado'] option[value!='']").remove();
        	
        	// Readicionar
            for (var i = 0; i < resultado.desafiaveis.length; i++) {
				var newOption = new Option(resultado.desafiaveis[i].nick, resultado.desafiaveis[i].id, false, false);
				$("select[id='id_desafiado']").append(newOption);
				
            	// Voltar valor de desafiado caso possível
            	if (guardaDesafiado == resultado.desafiaveis[i].id) {
            		$("select[id='id_desafiado']").val(guardaDesafiado);
            	}
            }
            $("select[id='id_desafiado']").trigger('change');
        }
    );
}

function buscarPersonagensJogador(elemento_jogador) {
	// Apenas buscar se ID estiver preenchido
	if (!elemento_jogador.val()) {
		return;
	}
	
	ajax("{% url 'jogadores:listar_personagens_jogador' %}", 
		'POST', 
		{jogador_id: elemento_jogador.val()}, 
		function(resultado) {
        	// Verifica mensagem de erro
        	if (resultado.mensagem_erro) {
        		elemento_jogador.parent().find('.text-danger').remove();
        		elemento_jogador.parent().append('<div class="text-danger">' + resultado.mensagem_erro + '</div>');
        		return;
        	} else {
				elemento_jogador.parent().find('.text-danger').remove();
			}
			
			var fim_id = '';
			// Verificar se desafiante ou desafiado
			if (elemento_jogador.attr('id') == 'id_desafiante') {
				fim_id = 'personagem_desafiante';
			} else {
				fim_id = 'personagem_desafiado';
			}
			
			// Garantir que o estilo do select2 será mantido, primeiro remove display none, para inserir posteriormente
			if ($("select[id$='" + fim_id + "']").parents().find('.row.invisible').css('display') == 'none') {
				$("select[id$='" + fim_id + "']").parents().find('.row.invisible').css('display', '');
			}
			$("select[id$='" + fim_id + "']").select2({
				sorter: function(data) {
				    return data.sort(function(a, b) {
						if (a.id == "") {
							a.prioridade = 0;
						} else {
				    		a.prioridade = $.inArray(parseInt(a.id), resultado.personagens);
							if (a.prioridade == -1) {
								a.prioridade = 1000;
							}
						}
						if (b.id == "") {
							b.prioridade = 0;
						} else {
							b.prioridade = $.inArray(parseInt(b.id), resultado.personagens);
							if (b.prioridade == -1) {
								b.prioridade = 1000;
							}
						}
				    	
				        return (a.prioridade != b.prioridade ? a.prioridade - b.prioridade : a.text.localeCompare(b.text));
				    });
			    }
			});
			// Reinserir style display
			if ($("select[id$='" + fim_id + "']").parents().find('.row.invisible').css('display') !== 'none') {
				$("select[id$='" + fim_id + "']").parents().find('.row.invisible').css('display', 'none');
			}
        }
    );
}

function mostrarApenasLutasValidas() {
	// Mostrar lutas que estejam compatíveis com resultado do desafio
	var score_desafiante = parseInt($('#id_score_desafiante').val() || 0);
	var score_desafiado = parseInt($('#id_score_desafiado').val() || 0);
	
	// Esconder para depois mostrar
	$('h3[id*="id_header_luta_"]').addClass('invisible').css('display', 'none');
	$('div[id*="id_row_luta_"]').addClass('invisible').css('display', 'none');
	// Mostrar lutas que condizem com resultado
	for (var i = 1; i <= score_desafiado + score_desafiante; i++) {
		$('h3[id="id_header_luta_' + i + '"]').removeClass('invisible').css('display', '');
		$('div[id="id_row_luta_' + i + '"]').removeClass('invisible').css('display', '');
	}
}

function preencherGanhadores() {
	// Verificar jogadores cadastrados
	var desafiante = $('#id_desafiante').val();
	var desafiado = $('#id_desafiado').val();
	
	// Se não estiverem ambos cadastrados, parar função
	if (desafiante.length === 0 || desafiado.length === 0) {
		return;
	}
	
	// Buscar scores
	var score_desafiante = $('#id_score_desafiante').val();
	var score_desafiado = $('#id_score_desafiado').val();
	
	if (score_desafiante.length === 0 || score_desafiado.length === 0) {
		return;
	} else {
		score_desafiante = parseInt(score_desafiante);
		score_desafiado = parseInt(score_desafiado);
	}
	
	// Verificar se lutas restantes só possuem apenas uma opção
	// Contar cadastros de vitória para jogador
	var ganhadores = $("select[id$='ganhador']");
	var vitorias_desafiante = 0;
	var vitorias_desafiado = 0;
	
	for (var i = 0; i < score_desafiante + score_desafiado; i++) {
		if (ganhadores[i].value === desafiante) {
			vitorias_desafiante++;
		} else if (ganhadores[i].value === desafiado) {
			vitorias_desafiado++;
		}
	}
	
	// Verificar que ganhadores não foram todos configurados
	if (vitorias_desafiante + vitorias_desafiado < score_desafiante + score_desafiado) {
		// Se todas as vitórias de algum dos jogadores foi inserida, preencher o resto
		if (vitorias_desafiante === score_desafiante) {
			for (var i = 0; i < score_desafiante + score_desafiado; i++) {
				if (ganhadores[i].value.length === 0) {
					$(ganhadores[i]).val(desafiado);
				}
			}
		} else if (vitorias_desafiado === score_desafiado) {
			for (var i = 0; i < score_desafiante + score_desafiado; i++) {
				if (ganhadores[i].value.length === 0) {
					$(ganhadores[i]).val(desafiante);
				}
			}
		}
	}
	$("select[id$='ganhador']").trigger('change');
}
</script>
{% endblock %}