{% extends 'base.html' %}
{% load static %}

{% block title %}- Adicionar desafio para ladder{% endblock %}

{% block page_header %}
Adicionar desafio
{% endblock %}

{% block extra_header %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
	<form class="col-12" action="{% url 'ladder:adicionar_desafio_ladder' %}" method="post">
	    {% csrf_token %}
	    
        {% include "form.html" with form=form_desafio_ladder %}
	    
	    {{ formset_lutas.management_form }}
        {% for form in formset_lutas %}
        	<h3>Luta {{ forloop.counter }}</h3>
        	
        	{% include "form.html" with form=form %}
        {% endfor %}
        
	  	<input class="btn btn-lg btn-dark mt-4" type="submit" value="Salvar">
	</form>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src={% static "jquery.mask.min.js" %} type="text/javascript"></script>

<script type="text/javascript">
var token = '{{csrf_token}}';

$(document).ready(function(){
	$('select').select2();
	
	// Forçar ganhador a ser um dos 2 jogadores selecionados
	$("select[id$='ganhador'] option[value!='']").each(function() {
		// Desafiante
		var desafiante = $("select[id='id_desafiante']").select2('data')[0];
		// Desafiado
		var desafiado = $("select[id='id_desafiado']").select2('data')[0];
		
		if ($(this).val() == '' || $(this).val() == desafiante.id || $(this).val() == desafiado.id) {
			return;
		} else {
			$(this).remove();
		}
	});
	
	$("select[id='id_desafiante']").on('select2:select', function (e) {
	  	// Buscar desafiaveis ao alterar desafiante
	  	buscarDesafiaveis();
	});
	
	$('#id_desafio_coringa').change(function(){
		buscarDesafiaveis();
	});
	
	$("select[id='id_desafiado']").on('select2:select', function (e) {
	  	recarregarParticipantes();
	});
	
	$('.data-hora').mask('00/00/0000 00:00', {placeholder: 'DD/MM/AAAA hh:mm'});
	
	// Verificar se data está preenchida
	if ($('.data-hora').cleanVal().length < 12) {
		$('input[type=submit]').attr('disabled', true);
	}
	
	$('.data-hora').on('input', function() {
		if ($(this).cleanVal().length < 12) {
			$('input[type=submit]').attr('disabled', true);
			$(this).parent().find('.text-danger').remove();
			$(this).parent().append('<div class="text-danger">Preencha até o final no formato DD/MM/AAAA hh:mm</div>');
		} else {
			$('input[type=submit]').attr('disabled', false);
			$(this).parent().find('.text-danger').remove();
		}
	});
	
	// Adicionar botões de repetição para desafiantes
	$("select[id$='personagem_desafiante']").each(function() {
		var indice = $(this).attr('id').replace(/\D/g, '');
		if (indice > 0) {
			$(this).parent().append(
				'<input type="button" value="Repetir" class="btn btn-sm btn-dark m-0" id="repetir_desafiante_' + indice + '">'
			);
		}
	});
	
	// Adicionar botões de repetição para desafiados
	$("select[id$='personagem_desafiado']").each(function() {
		var indice = $(this).attr('id').replace(/\D/g, '');
		if (indice > 0) {
			$(this).parent().append(
				'<input type="button" value="Repetir" class="btn btn-sm btn-dark m-0" id="repetir_desafiado_' + indice + '">'
			);
		}
	});
	
	// Repetições para desafiantes
	$('input[id^="repetir_desafiante"]').click(function(){
		// Busca personagem desafiante anterior
		var indice = parseInt($(this).attr('id').slice(-1));
		
		var desafiante_anterior = $('#id_desafio_ladder_luta-' + (indice-1) + '-personagem_desafiante').select2('data')[0];
		if (desafiante_anterior.id) {
			$('#id_desafio_ladder_luta-' + (indice) + '-personagem_desafiante').val(desafiante_anterior.id).trigger('change');
		}
	});
	
	// Repetições para desafiados
	$('input[id^="repetir_desafiado"]').click(function(){
		// Busca personagem desafiado anterior
		var indice = parseInt($(this).attr('id').slice(-1));
		
		var desafiado_anterior = $('#id_desafio_ladder_luta-' + (indice-1) + '-personagem_desafiado').select2('data')[0];
		if (desafiado_anterior.id) {
			$('#id_desafio_ladder_luta-' + (indice) + '-personagem_desafiado').val(desafiado_anterior.id).trigger('change');
		}
	});
	
});

function recarregarParticipantes() {
	// Apagar atuais
	$("select[id$='ganhador'] option[value!='']").remove();
	
	// Desafiante
	var desafiante = $("select[id='id_desafiante']").select2('data')[0];
	if (desafiante.id) {
		var newOption = new Option(desafiante.text, desafiante.id, false, false);
		$("select[id$='ganhador']").append(newOption);
	}
	
	// Desafiado
	var desafiado = $("select[id='id_desafiado']").select2('data')[0];
	if (desafiado.id) {
		var newOption = new Option(desafiado.text, desafiado.id, false, false);
		$("select[id$='ganhador']").append(newOption);
	}
	
	$("select[id$='ganhador']").trigger('change');
}

function buscarDesafiaveis() {
	// Buscar apenas de desafiavel estiver preenchido
	if (!$("select[id='id_desafiante']").val()) {
		return;
	}
	
	$.ajax({
        url : "{% url 'jogadores:listar_desafiaveis' %}",
        type : "POST",
        data : {jogador_id: $("select[id='id_desafiante']").val(), data_hora: $('#id_data_hora').val(), coringa: $('#id_desafio_coringa:checked').length},
        dataType: 'json',
        headers: { "X-CSRFToken": token },

        // handle a successful response
        success : function(resultado) {
        	// Verifica mensagem de erro
        	if (resultado.mensagem_erro) {
        		$("select[id='id_desafiante']").parent().find('.text-danger').remove();
        		$("select[id='id_desafiante']").parent().append('<div class="text-danger">' + resultado.mensagem_erro + '</div>');
        		return;
        	} else {
				$("select[id='id_desafiante']").parent().find('.text-danger').remove();
			}
        	
        	// Guarda valor de desafiado
        	var guardaDesafiado = $("select[id='id_desafiado']").select2('data')[0].id;
        	
        	// Limpar opções
        	$("select[id='id_desafiado'] option[value!='']").remove();
        	
        	// Readicionar
            for (var i = 0; i < resultado.desafiaveis.length; i++) {
				var newOption = new Option(resultado.desafiaveis[i].nick, resultado.desafiaveis[i].id, false, false);
				$("select[id='id_desafiado']").append(newOption);
				
            	// Voltar valor de desafiado caso possível
            	if (guardaDesafiado == resultado.desafiaveis[i].id) {
            		$("select[id='id_desafiado']").val(guardaDesafiado);
            	}
            }
            $("select[id='id_desafiado']").trigger('change');
            
  			recarregarParticipantes();
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
}
</script>
{% endblock %}