{% extends 'base.html' %}

{% block title %}- Desafio de Ladder {{ desafio_ladder.id  }}{% endblock %}

{% block content %}
	{% if desafio_ladder.is_validado %}
	<div>
		<p>Alterações na ladder:</p>
	</div>
	{% endif %}
	<div>
		<p>Deseja cancelar o seguinte desafio de ladder? A operação de cancelamento não poderá ser desfeita posteriormente.</p>
	</div>
	
	<div>
		<p>{{ desafio_ladder.desafiante.nick }} <strong>{{ desafio_ladder.score_desafiante }}</strong> VS 
		<strong>{{ desafio_ladder.score_desafiado }}</strong> {{ desafio_ladder.desafiado.nick }}</p>
		<p>Data/hora: <strong>{{ desafio_ladder.data_hora|date:"d/m/Y H:i" }}</strong></p>
		<p>Coringa: <strong>{{ desafio_ladder.desafio_coringa|yesno:"Sim,Não,Não" }}</strong></p>
		<p>Admin validador: 
			<strong>
			{% if desafio_ladder.admin_validador %}
				{{ desafio_ladder.admin_validador.nick }}
			{% else %}
				Não validado
			{% endif %}
			</strong>
		</p>
	</div>
	
	{% if desafio_ladder.lutas %}
	<ul>
		{% for luta in desafio_ladder.lutas %}
		<li><span>Ganhador: {{ luta.ganhador.nick }}</span> <a href="{% url 'ladder:detalhar_luta' luta.id %}">Detalhar luta</a></li>
		{% endfor %}
	</ul>
	{% endif %}
	
	<p><strong>Esta operação não poderá ser desfeita</strong></p>
	<form action="{% url 'ladder:cancelar_desafio_ladder' desafio_ladder.id %}" method="post">
	    {% csrf_token %}
	    
	  	<input class="btn btn-lg btn-dark btn-block" type="submit" value="Confirmar">
	</form>
	
{% endblock %}