{% extends 'base.html' %}
{% load static %}

{% block title %}- Editar desafio para ladder{% endblock %}

{% block page_header %}
Editar desafio
{% endblock %}

{% block extra_header %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
	<form class="col-12" action="{% url 'ladder:editar_desafio_ladder' form_desafio_ladder.instance.id %}" method="post">
	    {% csrf_token %}
	    {% comment %}
	    {{ form_desafio_ladder }}
	    
	    {{ formset_lutas.management_form }}
        {% for form in formset_lutas %}
        	<div>
	        	<h4>Luta {{ forloop.counter }}</h4>
	        	{{ form }}
        	</div>
        {% endfor %}
        {% endcomment %}
        
        {% include "form.html" with form=form_desafio_ladder %}
	    
	    {{ formset_lutas.management_form }}
        {% for form in formset_lutas %}
        	<h3>Luta {{ forloop.counter }}</h3>
        	{% comment %}
        	{{ form }}
        	{% endcomment %}
        	
        	{% include "form.html" with form=form %}
        {% endfor %}
        
	  	<input class="btn btn-lg btn-dark mt-4" type="submit" value="Salvar">
	</form>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src={% static "jquery.mask.min.js" %} type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function(){
	$('select').select2();
	
	// Forçar ganhador a ser um dos 2 jogadores selecionados
	$("select[id$='ganhador'] option[value!='']").each(function() {
		// Desafiante
		var desafiante = $("select[id='id_desafiante']").select2('data')[0];
		// Desafiado
		var desafiado = $("select[id='id_desafiado']").select2('data')[0];
		
		if ($(this).val() == '' || $(this).val() == desafiante.id || $(this).val() == desafiado.id) {
			return;
		} else {
			$(this).remove();
		}
	});
	
	$("select[id='id_desafiante']").on('select2:select', function (e) {
	  	recarregarParticipantes();
	});
	
	$("select[id='id_desafiado']").on('select2:select', function (e) {
	  	recarregarParticipantes();
	});
	
	$('.data-hora').mask('00/00/0000 00:00', {placeholder: 'DD/MM/AAAA hh:mm'});
	
	// Verificar se data está preenchida
	if ($('.data-hora').cleanVal().length < 12) {
		$('input[type=submit]').attr('disabled', true);
	}
	
	$('.data-hora').on('input', function() {
		if ($(this).cleanVal().length < 12) {
			$('input[type=submit]').attr('disabled', true);
			$(this).parent().find('.text-danger').remove();
			$(this).parent().append('<div class="text-danger">Preencha até o final no formato DD/MM/AAAA hh:mm</div>')
		} else {
			$('input[type=submit]').attr('disabled', false);
			$(this).parent().find('.text-danger').remove();
		}
	});
});

function recarregarParticipantes() {
	// Apagar atuais
	$("select[id$='ganhador'] option[value!='']").remove();
	
	// Desafiante
	var desafiante = $("select[id='id_desafiante']").select2('data')[0];
	if (desafiante.id) {
		var newOption = new Option(desafiante.text, desafiante.id, false, false);
		$("select[id$='ganhador']").append(newOption).trigger('change');
	}
	
	// Desafiado
	var desafiado = $("select[id='id_desafiado']").select2('data')[0];
	if (desafiado.id) {
		var newOption = new Option(desafiado.text, desafiado.id, false, false);
		$("select[id$='ganhador']").append(newOption).trigger('change');
	}
}
</script>
{% endblock %}