{% extends 'base.html' %}

{% block title %}- Histórico da Ladder{% endblock %}

{% block content %}
	<div class="col-12">
		{% regroup lista_ladders by ano as ladder_por_ano %}
		
		{% comment %}
		{% for ladder_ano in ladder_por_ano %}
		    <div class="my-2">
		    	<h3>{{ ladder_ano.grouper }}</h3>
			    <ul class="list-group list-group-horizontal-md">
			        {% for ladder in ladder_ano.list %}
						<li class="list-group-item text-center"><a href="{% url 'ladder:detalhar_ladder_historico' ladder.ano ladder.mes %}">{{ ladder.mes }}/{{ ladder.ano }}</a></li>
			        {% endfor %}
			    </ul>
		    </div>
		{% endfor %}
		{% endcomment %}
		
		{% now "Y" as current_year%} 
		<div class="d-flex flex-column" id="accordion">
			{% for ladder_ano in ladder_por_ano %}
		  	<div class="card my-2 d-flex border-0">
		    	<div class="card-header bg-cinza-1 text-center py-3 clicavel" id="header-{{ ladder_ano.grouper }}" 
		    	data-toggle="collapse" data-target="#collapse{{ ladder_ano.grouper }}" aria-expanded="true" aria-controls="collapse{{ ladder_ano.grouper }}">
		        	<h4 class="my-0">
			        	<span href="javascript:;" class="my-0">
			          		{{ ladder_ano.grouper }}
			        	</span>
		        	</h4>
		    	</div>
	    		<div id="collapse{{ ladder_ano.grouper }}" class="collapse {% if ladder_ano.grouper|stringformat:"i" == current_year %}show{% endif %}" 
	    		aria-labelledby="header-{{ ladder_ano.grouper }}" data-parent="#accordion">
	      			<div class="d-flex justify-content-center py-1">
	        			<ul class="list-group list-group-horizontal-md">
				        {% for ladder in ladder_ano.list %}
							<li class="list-group-item text-center">
								<h5>
									<a href="{% url 'ladder:detalhar_ladder_historico' ladder.ano ladder.mes %}">
										{{ ladder.mes }}/{{ ladder.ano }}
									</a>
								</h5>
							</li>
				        {% endfor %}
		    			</ul>
			    	</div>
	    		</div>
	  		</div>
	  		{% endfor %}
  		</div>
	</div>
{% endblock %}