{% extends 'base.html' %}

{% block title %}- Remoções de jogador{% endblock %}

{% block page_header %}
Remoções de jogador
{% endblock %}

{% block content %}
	{% for remocao in remocoes %}
	<div class="card col-12 col-md-3">
	  	<div class="card-body">
	  		<h5 class="card-title mb-0">{{ remocao.jogador.nick }}</h5>
	    	
		    <h6 class="card-subtitle mb-2 text-muted">{{ remocao.data|date:'d/m/Y' }}</h6>
		    
		    {% if remocao.remocao_por_inatividade %}
		    	<p class="card-text">Remoção automática</p>
		    {% else %}
		    	<p class="card-text">Removido por {{ remocao.admin_removedor.nick }}</p>
			    {% if request.user.jogador.admin %}
		    	<a class="card-link" href="{% url 'ladder:cancelar_remocao_jogador_ladder' remocao.id %}">Cancelar</a>
		    	{% endif %}
	    	{% endif %}
	  	</div>
	</div>
	{% empty %}
	<div class="col-12 text-center">
		<h5>Sem desafios pendentes</h5>
	</div>
	{% endfor %}
{% endblock %}