{% extends 'base.html' %}

{% block title %}- Registros de Ladder {{ mes }}/{{ ano }}{% endblock %}

{% block content %}
	<div>
		{% for registro_ladder in registros_ladder %}
		<p>
			{{ registro_ladder.data_hora|date:'d/m/Y H:n' }}: 
			<span>
				<a href="{% url 'jogadores:detalhar_jogador' registro_ladder.desafiante.user.username %}">{{ registro_ladder.desafiante.nick }}</a> 
				{{registro_ladder.score_desafiante}} VS {{registro_ladder.score_desafiado}} 
				<a href="{% url 'jogadores:detalhar_jogador' registro_ladder.desafiado.user.username %}">{{ registro_ladder.desafiado.nick }}</a>
			<a href="{% url 'ladder:detalhar_registro_ladder' registro_ladder.id %}">Ver detalhes</a>
		</p>
		{% endfor %}
	</div>
{% endblock %}