{% extends 'base.html' %}

{% block title %}- Remover permissão de aumento de range{% endblock %}

{% block page_header %}Remover aumento de range{% endblock %}

{% block content %}
    {% for permissao in permissoes %}
	<div class="card col-12 col-md-3">
	  	<div class="card-body">
	  		<div class="row d-flex">
		  		<div class="col-5 text-left d-flex flex-column">
			    	<h5 class="card-title">{{ permissao.jogador.nick }}</h5>
		    	</div>
	    	</div>
	    	
		    <h6 class="card-subtitle mb-2 text-muted">{{ permissao.data_hora|date:'d/m/Y H:i' }}</h6>
		    
            <p class="card-text">Admin permissor: <b>{{ permissao.admin_permissor.nick }}</b></p>
		    <a class="card-link" onclick="$('#form-{{ permissao.id }}').show(); $(this).hide();" href="javascript:;">Remover</a>
            <form id="form-{{ permissao.id }}" class="pl-0 col-12" style="display: none" action="{% url 'ladder:remover_permissao_aumento_range' permissao.id %}" 
            method="post">
	            {% csrf_token %}
                <input type="hidden" value="{{ permissao.id }}" name="permissao_id" />
	  	        <input class="btn btn-lg btn-dark mt-4" type="submit" name="confirmar" value="Confirmar remoção" />
	        </form>
	  	</div>
	</div>
	{% empty %}
	<div class="col-12 text-center">
		<h5>Sem permissões passíveis de remoção</h5>
	</div>
	{% endfor %}
{% endblock %}

