.project
.pydevproject
.settings/
__pycache__/
conf/
node_modules/
templates/analytics.html
apache_conf/
fabfile.py

# Docker
.dockerignore
Dockerfile

templates/afazer

**/img/
backups/
**/static/analises/
