{% extends 'base.html' %}
{% load static %}

{% block title %}- {{ jogador.nick }}{% endblock %}

{% block page_header %}{{ jogador.nick }}{% endblock %}

{% block extra_header %}
<link href="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
	<div class="col-12 col-md-4 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Dados
		  	</div>
		  	<div class="card-body col-12">
		  		<div class="row">
			  		<div class="col-6">
					    <h6 class="card-title">Nickname</h6>
					    <h6 class="card-title">
						    <strong>{{ jogador.nick }}</strong>
					    </h6>
				    </div>
			  		<div class="col-6">
					    <h6 class="card-title">Main</h6>
					    <h6 class="card-title">
					    	{% if jogador.main %}
					    		<img class="icone-personagem mt-n1" src="{% static jogador.main.icone %}" />
					    	{% endif %}
						    <strong>{{ jogador.main|default:"Indefinido" }}</strong>
					    </h6>
				    </div>
			    
			  		<div class="col-6">
					    <h6 class="card-title">Último coringa</h6>
					    <h6 class="card-title"><strong>{{ jogador.ultimo_uso_coringa|date:"d/m/Y"|default:"Não utilizado" }}</strong></h6>
				    </div>
			  		<div class="col-6">
					    <h6 class="card-title">Admin</h6>
					    <h6 class="card-title"><strong>{{ jogador.admin|yesno:"Sim,Não,Não" }}</strong>
						</h6>
				    </div>
			    </div>
				
				{% if jogador.is_de_ferias %}
					<div class="alert alert-primary card-text d-flex justify-content-between">
						Jogador está de férias
					</div>
				{% endif %}
				
				{% if request.user.username == jogador.user.username or request.user.jogador.admin %}
				<a class="card-link" href="{% url 'jogadores:editar_jogador' jogador.user.username %}">Editar</a>
				{% endif %}
		  	</div>
		</div>
	</div>
		
	<div class="col-12 col-md-4 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Desafios
		  	</div>
		  	<div class="card-body col-12">
		  		<div class="row">
			  		<div class="col-6">
					    <h6 class="card-title">Feitos</h6>
					    <h6 class="card-title">
						    <strong>{{ desafios.feitos }}</strong>
					    </h6>
				    </div>
			  		<div class="col-6">
					    <h6 class="card-title">Recebidos</h6>
					    <h6 class="card-title">
						    <strong>{{ desafios.recebidos }}</strong>
					    </h6>
				    </div>
			    
			  		<div class="col-6">
					    <h6 class="card-title">Vitórias</h6>
					    <h6 class="card-title"><strong>{{ desafios.vitorias }}</strong></h6>
				    </div>
			  		<div class="col-6">
					    <h6 class="card-title">Derrotas</h6>
					    <h6 class="card-title"><strong>{{ desafios.derrotas }}</strong>
						</h6>
				    </div>
				    
				    <div class="col-6">
					    <h6 class="card-title">% de vitórias</h6>
					    <h6 class="card-title"><strong>{{ jogador.percentual_vitorias|floatformat:"2" }}%</strong></h6>
				    </div>
			    </div>
		  	</div>
		</div>
	</div>
	
	<div class="col-12 col-md-4 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Histórico para % de vitórias
		  	</div>
		  	<div class="card-body col-12">
		  		<div class="row">
		  			<div class="col-12">
						<canvas id="graf-perc-vitorias" width="auto"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-12 col-md-4 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Histórico de ladder
		  	</div>
		  	<div class="card-body col-12">
		  		<div class="row">
		  			<div class="col-12">
						<canvas id="graf-hist-ladder" width="auto"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{% if jogador.ultimos_desafios %}
	<div class="col-12 col-md-4 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Últimos desafios
		  	</div>
		  	<div class="card-body col-12">
		  		<div class="row">
					{% for desafio_ladder in jogador.ultimos_desafios %}
					<div class="card col-12">
					  	<div class="card-body">
					  		<div class="row d-flex">
						  		<div class="col-6 text-left d-flex flex-column">
							    	<h6 class="card-title mb-0">{{ desafio_ladder.desafiante.nick }}</h6>
							    	<h6 class="card-title {% if desafio_ladder.score_desafiante > desafio_ladder.score_desafiado %}
						  				text-success
						  			{% else %}
						  				text-danger
						  			{% endif %}">{{desafio_ladder.score_desafiante}}</h6>
						    	</div>
						  		<div class="col-6 text-right">
							    	<h6 class="card-title mb-0">{{ desafio_ladder.desafiado.nick }}</h6>
							    	<h6 class="card-title
						  			{% if desafio_ladder.score_desafiado > desafio_ladder.score_desafiante %}
						  				text-success
						  			{% else %}
						  				text-danger
						  			{% endif %}">{{desafio_ladder.score_desafiado}}</h6>
						    	</div>
					    	</div>
					    	
						    <h6 class="card-subtitle mb-2 text-muted">{{ desafio_ladder.data_hora|date:'d/m/Y H:i' }}</h6>
						    
						    <a class="card-link" href="{% url 'ladder:detalhar_desafio_ladder' desafio_ladder.id %}">Ver detalhes</a>
					  	</div>
					</div>
					{% endfor %}
					<div class="col-12 text-center mt-3 mb-0">
						<a href="{% url 'jogadores:listar_desafios_jogador' jogador.user.username %}">Ver todos</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.bundle.min.js"></script>

<script type="text/javascript">
	var ctx = document.getElementById('graf-perc-vitorias').getContext('2d');
	var grafPercVitorias = new Chart(ctx, {
	    type: 'line',
	    data: {
	    	labels: [{% for item in jogador.grafico_percentual_vitorias %}'',{% endfor %}],
	        datasets: [{
	            label: '% de vitórias',
	            data: {{ jogador.grafico_percentual_vitorias }},
	            borderWidth: 0,
	            lineTension: 0
	        }]
	    },
	    options: {
	    	legend: {
	    		display: false
			},
			tooltips: {
  				intersect: false
			},
	        scales: {
	            xAxes: [{
	            	scaleLabel: {
		            	display: true,
		                labelString: 'Desafios'
	                }
	            }],
	            yAxes: [{
	                ticks: {
	                    beginAtZero: true,
	                    callback: function(value, index, values) {
	                        return value + '%';
	                    }
	                }
	            }]
	        }
	    }
	});
	
	var ctx = document.getElementById('graf-hist-ladder').getContext('2d');
	var grafHistLadder = new Chart(ctx, {
	    type: 'line',
	    data: {
	    	labels: [{% for item in jogador.grafico_variacao_posicao %}'',{% endfor %}],
	        datasets: [{
	            label: 'Posição na ladder',
	            data: {{ jogador.grafico_variacao_posicao|safe }},
	            lineTension: 0,
	            fill: false,
	            pointBorderWidth: 5
	        }]
	    },
	    options: {
	    	legend: {
	    		display: false
			},
			tooltips: {
  				intersect: false
			},
	        scales: {
	            xAxes: [{
	                type: 'time',
	                time: {
                    	parser: "DD/MM/YYYY HH:mm",
                    	min: '{{ jogador.grafico_variacao_posicao.0.x }}'
                	}
	            }],
	            yAxes: [{
	                ticks: {
	                    reverse: true,
	                    callback: function(value, index, values) {
					        if (Math.floor(value) === value) {
					            return value;
					        }
					    }
	                }
	            }]
	        }
	    }
	});
</script>
{% endblock %}