{% extends 'base.html' %}

{% block title %}- Jogadores desafiáveis para {{ jogador.nick }}{% endblock %}

{% block page_header %}
Jogadores desafiáveis para {{ jogador.nick }}
{% endblock %}

{% block content %}	
	<div class="col-12 text-center">
		<p>Data/hora da consulta: <strong>{% now 'd/m/Y H:i:s' %}</strong></p>
	</div>
	
	{% for jogador_desafiavel in desafiaveis %}
	<div class="card col-6 col-md-1">
	  	<div class="card-body text-center">
	  		<p class="card-text"><a href="{% url 'jogadores:detalhar_jogador' jogador_desafiavel.user.username %}">{{ jogador_desafiavel.nick }}</a></p>
	  	</div>
	</div>
	{% endfor %}
	
	{% if desafios_pendentes %}
	<div class="col-12 alert alert-danger my-2">
		<strong>Existem desafios pendentes de validação que podem alterar a lista de jogadores desafiáveis!</strong>
	</div>
	
	{% for desafio_ladder in desafios_pendentes %}
	<div class="card col-12 col-md-3">
	  	<div class="card-body">
	  		<div class="row d-flex">
		  		<div class="col-5 text-left d-flex flex-column">
			    	<h5 class="card-title mb-0">{{ desafio_ladder.desafiante.nick }}</h5>
			    	<h6 class="card-title {% if desafio_ladder.score_desafiante > desafio_ladder.score_desafiado %}
		  				text-success
		  			{% else %}
		  				text-danger
		  			{% endif %}">{{desafio_ladder.score_desafiante}}</h6>
		    	</div>
		  		<div class="col-2 text-center">
			    	<h5 class="card-title">VS</h5>
		    	</div>
		  		<div class="col-5 text-right">
			    	<h5 class="card-title mb-0">{{ desafio_ladder.desafiado.nick }}</h5>
			    	<h6 class="card-title
		  			{% if desafio_ladder.score_desafiado > desafio_ladder.score_desafiante %}
		  				text-success
		  			{% else %}
		  				text-danger
		  			{% endif %}">{{desafio_ladder.score_desafiado}}</h6>
		    	</div>
	    	</div>
	    	
		    <h6 class="card-subtitle mb-2 text-muted">{{ desafio_ladder.data_hora|date:'d/m/Y H:i' }}</h6>
		    
		    {% if desafio_ladder.is_cancelado %}
		    	<p class="card-text">Desafio cancelado</p>
		    {% elif desafio_ladder.is_validado %}
		    	<p class="card-text">Desafio validado</p>
		    {% else %}
		    	<p class="card-text">Desafio aguardando validação</p>
		    {% endif %}
		    
		    <a class="card-link" href="{% url 'ladder:detalhar_desafio_ladder' desafio_ladder.id %}">Ver detalhes</a>
	    	{% if request.user.jogador.admin and not desafio_ladder.is_validado %}
		    	<a class="card-link" href="{% url 'ladder:validar_desafio_ladder' desafio_ladder.id %}">Validar</a>
		    {% endif %}
			{% if desafio_ladder.is_cancelavel %}			    
		    	<a class="card-link" href="{% url 'ladder:cancelar_desafio_ladder' desafio_ladder.id %}">Cancelar</a>
	    	{% endif %}
	  	</div>
	</div>
	{% endfor %}
	{% endif %}
{% endblock %}