/*
	ffffff (255, 255, 255) 
	000000 (0, 0, 0) 
	cecccc (206, 204, 204) cinza-2
	9d6381 (157, 99, 129) cinza-3
	fdecef (253, 236, 239) cinza-1
*/

.site-header {
    background-color: rgba(157, 99, 129, 1);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.bg-cinza-1 {
    background-color: rgba(253, 236, 239, 1);
}
.bg-cinza-2 {
    background-color: rgba(206, 204, 204, 1);
}
.bg-cinza-3 {
    background-color: rgba(157, 99, 129, 1);
}

.clicavel {
	cursor: pointer;
}

.lista-elemento {
	padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgba(253, 236, 239, 1);
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: .25rem;
}

.form-control-checkbox {
	display: block;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	    border-top-color: rgb(206, 212, 218);
	    border-right-color: rgb(206, 212, 218);
	    border-bottom-color: rgb(206, 212, 218);
	    border-left-color: rgb(206, 212, 218);
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-dark {
	background-color: #000;
	border-color: #000;
}

.list-group-order {
    list-style: decimal inside;
}

.list-group-item-order {
    display: list-item;
}

.icone-personagem {
	width: 20px;
	height: auto;
}

/*
	Ladder
*/
ul.ladder li {
	background-image: linear-gradient(to right, #cecccc, #fff);
}

ul.ladder li.ladder-ferias {
	background-image: linear-gradient(to right, #9d6381, #fff);
}

ul.ladder li:nth-child(1) .posicao-ladder {
	font-size: 40px;
	margin: -10% 0 -10% 0;
}

ul.ladder li:nth-child(2) .posicao-ladder {
	font-size: 32px;
	margin: -10% 0 -10% 0;
}

ul.ladder li:nth-child(3) .posicao-ladder {
	font-size: 24px;
	margin: -10% 0 -10% 0;
}

/*
	Ladder Top 10
*/
ul.ladder-top-10 li {
	#background-image: linear-gradient(to right, #cecccc, #fff);
}


ul.ladder-top-10 li:nth-child(1) {
	background-color: gold !important;
}

ul.ladder-top-10 li:nth-child(1) a {
	color: black;
}

ul.ladder-top-10 li:nth-child(1) .posicao-ladder {
	font-size: 40px;
	margin: -10% 0 -10% 0;
}

ul.ladder-top-10 li:nth-child(1) .ladder-personagem {
	position: absolute;
	width: 40%;
	right: 0;
	margin: 0 0 -10% 0;
	padding-bottom: 0%;
}

ul.ladder-top-10 li:nth-child(2) {
	background-color: silver !important;
}

ul.ladder-top-10 li:nth-child(2) a {
	color: black;
}

ul.ladder-top-10 li:nth-child(2) .posicao-ladder {
	font-size: 32px;
	margin: -10% 0 -10% 0;
}

ul.ladder-top-10 li:nth-child(3) {
	background-color: sandybrown !important;
}

ul.ladder-top-10 li:nth-child(3) a {
	color: black;
}

ul.ladder-top-10 li:nth-child(3) .posicao-ladder {
	font-size: 24px;
	margin: -10% 0 -10% 0;
}

ul.ladder-top-10 li.ladder-ferias {
	background-color: #9d6381;
	background-image: linear-gradient(to right, #9d6381, #fff);
}


/*
	Font awesome no background
*/
.award-bg::before {
	font-size: 40px;
	font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f559";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    z-index: 1;
    left: 10%;
	opacity: 0.2;
  	filter: alpha(opacity=20);
}

.crown-bg::before {
	font-size: 40px;
	font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f521";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    z-index: 1;
    left: 10%;
	opacity: 0.2;
  	filter: alpha(opacity=20);
}


/* 
	Imagens personagens
*/
@media (min-width: 768px) {
	div.personagens-1::after {
		content: "";
		background-repeat: no-repeat;
		background-size: auto 150%;
		background-position: 50% 15%;
		opacity: 0.25;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 50;
	}
	
	div.personagens-2::after {
		content: "";
		background-repeat: no-repeat;
		background-size: auto 120%, auto 120%;
		background-position: 0% -20%, 100% -20%;
		opacity: 0.25;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 50;
	}
	
	div.personagens-3::after {
		content: "";
		background-repeat: no-repeat;
		background-size: auto 100%, auto 70%, auto 70%;
		background-position: 50%, 0%, 100%;
		opacity: 0.25;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 50;
	}
	
	div.personagens-4::after {
		content: "";
		background-repeat: no-repeat;
		background-size: auto 90%, auto 90%, auto 90%, auto 90%;
		background-position: 0%, 33%, 66%, 100%;
		opacity: 0.25;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 50;
	}
	
	div.personagens-5::after {
		content: "";
		background-repeat: no-repeat;
		background-size: auto 90%, auto 70%, auto 70%, auto 50%, auto 50%;
		background-position: 50%, 75%, 25%, 90%, 10%;
		opacity: 0.25;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 50;
	}
}

/*
	Submenu
*/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

@media (max-width: 767.98px) {
	.dropdown-submenu .dropdown-menu {
	  top: 0;
	  left: 100%;
	  margin: 0 0 0 1.3rem;
	  border: 0 !important;
	}
}
 
@media (min-width: 768px) {
	.dropdown-submenu .dropdown-menu {
	  top: 0;
	  left: 100%;
	  margin: -.55rem 0 0 0;
	}
}


.progress-bar-2 {
    -webkit-transition: width 2s ease !important;
    transition: width 2s ease !important;
}