{% extends 'base.html' %}

{% block title %}- Análises por time{% endblock %}

{% block page_header %}Análises por time{% endblock %}

{% block extra_header %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
	<div class="col-12 text-center mb-3">
		<h4>Recomendável ver em dispositivos com telas maiores</h4>
	</div>
	
	<div class="col-12 text-center mb-3">
        <label>Time</label>
        <select id="time" class="form-control">
        	{% for time in times %}
        	<option value="{{ time.id }}">{{ time.nome }}</option>
        	{% endfor %}
    	</select>
	</div>
	
	<div class="col-12 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Resultados
		  	</div>
		  	<div class="card-body col-12" id="cardGrafResultado">
  				<div id="grafResultado"></div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>

<script type="text/javascript">
var time_id = $('#time').val();

$(document).ready(function(){
	$('select').select2();
	
	$('#time').change(function() {
		time_id = $(this).val();
		
		buscarDadosGraficoResultado();
	});
	
	buscarDadosGraficoResultado();
});

function buscarDadosGraficoResultado() {
	$('#cardGrafResultado').block({ 
        message: ''
    });
    
	ajax("{% url 'torneios:analise_torneio_resultado_por_time' %}", 
		'GET', 
		{time_id: time_id}, 
		function(resultado) {
			plotGraficoResultado(resultado);
			
			$('#cardGrafResultado').unblock(); 
        }
    );
}

function plotGraficoResultado(dados) {
	var data = [];

	for (var i = 0; i < dados.dados_jogadores.length; i++) {
		var jogador_atual = dados.dados_jogadores[i];
		
		// Alterar texto de todos da lista
		for (var indicePosicao = 0; indicePosicao < jogador_atual.posicao_final.length; indicePosicao++) {
			var textoPosicao = jogador_atual.posicao_final[indicePosicao] + '';
			jogador_atual.posicao_final[indicePosicao] = '<b>' + jogador_atual.nome + '</b><br>Posição: <b>' + textoPosicao + '</b>';
		}
		
		data.push({
			x: jogador_atual.data,
			y: jogador_atual.rendimento,
			text: jogador_atual.posicao_final,
		  	hoverinfo: 'text',
		  	name: '',
		  	type: 'bar'
		});
	}
	
	var layout = {
	  showlegend: false,
	  hovermode: 'closest',
	  font: {
	  	size: 16
	  },
	  xaxis: {
	  	title: 'Data'
  	  },
  	  yaxis: {
	    title: 'Rendimento'
	  },
	};
	
	Plotly.newPlot('grafResultado', data, layout);
}
</script>
{% endblock %}