{% extends 'base.html' %}

{% block title %}- Análises por jogador{% endblock %}

{% block page_header %}Análises por jogador{% endblock %}

{% block extra_header %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
	<div class="col-12 text-center mb-3">
		<h4>Recomendável ver em dispositivos com telas maiores</h4>
	</div>
	
	<div class="col-12 text-center mb-3">
        <label>Jogador</label>
        <select id="jogador" class="form-control">
        	{% for jogador in jogadores %}
        	<option value="{{ jogador.id }}">{{ jogador.nick }}</option>
        	{% endfor %}
    	</select>
	</div>
	
	<div class="col-12 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Resultados
		  	</div>
		  	<div class="card-body col-12" id="cardGrafResultado">
  				<div id="grafResultado"></div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>

<script type="text/javascript">
var jogador_id = $('#jogador').val();

$(document).ready(function(){
	$('select').select2();
	
	$('#jogador').change(function() {
		jogador_id = $(this).val();
		
		buscarDadosGraficoResultado();
	});
	
	buscarDadosGraficoResultado();
});

function buscarDadosGraficoResultado() {
	$('#cardGrafResultado').block({ 
        message: ''
    });
    
	ajax("{% url 'torneios:analise_torneio_resultado_por_jogador' %}", 
		'GET', 
		{jogador_id: jogador_id}, 
		function(resultado) {
			plotGraficoResultado(resultado);
			
			$('#cardGrafResultado').unblock(); 
        }
    );
}

function plotGraficoResultado(dados) {
	var data = [
	  {
		x: dados.data,
		y: dados.posicao,
		hovertemplate: 'Posição: <b>%{y}</b>',
	  	hoverinfo: 'text',
	  	name: '',
	  	yaxis: 'y'
	  },
	  {
		x: dados.data,
		y: dados.qtd_jogadores,
		hovertemplate: 'Qtd. jogadores: <b>%{y}</b>',
	  	hoverinfo: 'text',
	  	name: '',
	  	type: 'bar',
	  	yaxis: 'y2'
  	  }
	];

	var layout = {
	  font: {
	  	size: 16
	  },
	  xaxis: {
	  	title: 'Data'
  	  },
  	  yaxis: {
	    showlegend: false,
		autorange: 'reversed',
	    overlaying: 'y2',
	    title: 'Posição'
	  },
	  yaxis2: {
	  	side: 'right',
	  	title: 'Qtd. jogadores'
      }
	};
	
	Plotly.newPlot('grafResultado', data, layout);
}
</script>
{% endblock %}