{% extends 'base.html' %}

{% block title %}
	- {{ torneio.nome }}
{% endblock %}

{% block page_header %}
	{{ torneio.nome }}
{% endblock %}

{% block content %}
	<div class="col-12 col-md-4 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Dados
		  	</div>
		  	<div class="card-body col-12">
		  		<div class="row">
			  		<div class="col-6">
					    <h6 class="card-title">Nome</h6>
					    <h6 class="card-title"><strong>{{ torneio.nome }}</strong>
					    </h6>
				    </div>
			  		<div class="col-6">
					    <h6 class="card-title">Data</h6>
					    <h6 class="card-title"><strong>{{ torneio.data|date:'d/m/Y' }}</strong></h6>
				    </div>
			    
			  		<div class="col-6">
					    <h6 class="card-title">Qtd. jogadores</h6>
					    <h6 class="card-title"><strong>{{ torneio.qtd_jogadores }}</strong></h6>
				    </div>
				    <div class="col-6">
					    <h6 class="card-title">Adicionado por</h6>
					    <h6 class="card-title"><strong>{{ torneio.adicionado_por }}</strong></h6>
				    </div>
				    
				    <div class="col-12">
					    <h6 class="card-title">URL</h6>
					    <h6 class="card-title"><a href="{{ torneio.url }}">{{ torneio.url }}</a></h6>
				    </div>
			    </div>
				
				{% if request.user.jogador.admin %}
				<a class="card-link" href="{% url 'torneios:editar_torneio' torneio.id %}">Editar</a>
				{% endif %}
		  	</div>
		</div>
	</div>
	
	<div class="col-12 col-md-4 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Jogadores
		  	</div>
		  	<ul class="list-group list-group-flush">
			  	{% for jogador in torneio.top_3 %}
					<li class="list-group-item">
						<span>{{ forloop.counter }}: <a href="{% url 'torneios:detalhar_jogador_torneio' torneio.id jogador.id %}">{{ jogador }}</a></span>
					</li>
				{% endfor %}
		  	</ul>
		  	<div class="card-body col-12 text-center">
				<a class="card-link" href="{% url 'torneios:listar_jogadores_torneio' torneio.id %}">Ver todos</a>
		  	</div>
		</div>
	</div>
	
	<div class="col-12 col-md-4 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Partidas
		  	</div>
		  	<div class="card-body col-12">
		  		<div class="row">
		  			{% for partida in torneio.partidas %}
		  			<div class="card col-12">
			  			<div class="card-body">
					  		<div class="row d-flex">
						  		<div class="col-5 text-left d-flex flex-column">
							    	<h5 class="card-title mb-0">{{ partida.jogador_1.nome }}</h5>
							    	<h6 class="card-title {% if partida.jogador_1 == partida.ganhador %}
						  				text-success
						  			{% else %}
						  				text-danger
						  			{% endif %}">{{ partida.score_1 }}</h6>
						    	</div>
						  		<div class="col-2 text-center">
							    	<h5 class="card-title">VS</h5>
						    	</div>
						  		<div class="col-5 text-right">
							    	<h5 class="card-title mb-0">{{ partida.jogador_2.nome }}</h5>
							    	<h6 class="card-title {% if partida.jogador_2 == partida.ganhador %}
						  				text-success
						  			{% else %}
						  				text-danger
						  			{% endif %}">{{ partida.score_2 }}</h6>
						    	</div>
					    	</div>
					    	
						    <h6 class="card-subtitle mb-2 text-muted">{{ partida.round.nome }}</h6>
						    
						    <a class="card-link" href="{% url 'torneios:detalhar_partida' torneio.id partida.id %}">Ver detalhes</a>
					  	</div>
				  	</div>
				  	{% endfor %}
		  			
					<div class="col-12 text-center mt-3 mb-0">
						<a class="card-link" href="{% url 'torneios:listar_partidas' torneio.id %}">Ver todas</a>
					</div>
				</div>
		  	</div>
		</div>
	</div>
{% endblock %}