{% extends 'base.html' %}

{% block title %}
	- {{ jogador.nome }}
{% endblock %}

{% block page_header %}
	{{ jogador.nome }}
{% endblock %}

{% block content %}
	<div class="col-12 col-md-4 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Dados
		  	</div>
		  	<div class="card-body col-12">
		  		<div class="row">
			  		<div class="col-6">
					    <h6 class="card-title">Nome</h6>
					    <h6 class="card-title"><strong>{{ jogador }}</strong></h6>
				    </div>
			  		<div class="col-6">
					    <h6 class="card-title">Resultado</h6>
					    <h6 class="card-title"><strong>{{ jogador.posicao_final }}</strong></h6>
				    </div>
				    
			  		<div class="col-6">
					    <h6 class="card-title">Qtd. partidas</h6>
					    <h6 class="card-title"><strong>{{ jogador.qtd_partidas }}</strong></h6>
				    </div>
				    <div class="col-6">
					    <h6 class="card-title">Torneio</h6>
					    <h6 class="card-title"><a href="{% url 'torneios:detalhar_torneio' jogador.torneio.id %}">
						    <strong>{{ jogador.torneio.nome }}</strong>
					    </a></h6>
				    </div>
				    
				    <div class="col-6">
					    <h6 class="card-title">Vínculo na Ladder</h6>
					    <h6 class="card-title">
					    	{% if jogador.jogador %}
					    	<a href="{% url 'jogadores:detalhar_jogador' jogador.jogador.user.username %}">
					    		<strong>{{ jogador.jogador.nick }}</strong>
				    		</a>
				    		{% else %}
				    		<strong>Indefinido</strong>
				    		{% endif %}
				    	</h6>
				    </div>
			    </div>
			    
			    {% if request.user.jogador.admin %}
				<a class="card-link" href="{% url 'torneios:editar_jogador_torneio' jogador.torneio.id jogador.id %}">Editar</a>
				{% endif %}
		  	</div>
		</div>
	</div>
	
	<div class="col-12 col-md-4 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Partidas
		  	</div>
		  	<div class="card-body col-12">
		  		<div class="row">
		  			{% for partida in partidas %}
		  			<div class="card col-12">
			  			<div class="card-body">
					  		<div class="row d-flex">
						  		<div class="col-5 text-left d-flex flex-column">
							    	<h5 class="card-title mb-0">{{ partida.jogador_1.nome }}</h5>
							    	<h6 class="card-title {% if partida.jogador_1 == partida.ganhador %}
						  				text-success
						  			{% else %}
						  				text-danger
						  			{% endif %}">{{ partida.score_1 }}</h6>
						    	</div>
						  		<div class="col-2 text-center">
							    	<h5 class="card-title">VS</h5>
						    	</div>
						  		<div class="col-5 text-right">
							    	<h5 class="card-title mb-0">{{ partida.jogador_2.nome }}</h5>
							    	<h6 class="card-title {% if partida.jogador_2 == partida.ganhador %}
						  				text-success
						  			{% else %}
						  				text-danger
						  			{% endif %}">{{ partida.score_2 }}</h6>
						    	</div>
					    	</div>
					    	
						    <h6 class="card-subtitle mb-2 text-muted">{{ partida.round.nome }}</h6>
						    
						    <a class="card-link" href="{% url 'torneios:detalhar_partida' jogador.torneio.id partida.id %}">Ver detalhes</a>
					  	</div>
				  	</div>
				  	{% endfor %}
				</div>
		  	</div>
		</div>
	</div>
	
	{% if jogador.outros_torneios %}
	<div class="col-12 col-md-4 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Outros torneios
		  	</div>
		  	<div class="card-body col-12">
		  		<div class="row">
		  			{% for jogador_torneio in jogador.outros_torneios %}
		  			<div class="card col-12">
			  			<div class="card-body">
					    	<h5 class="card-title">{{ jogador_torneio.torneio.nome }}</h5>
					    	
						    <h6 class="card-subtitle mb-2 text-muted">{{ jogador_torneio.torneio.data }}</h6>
						    
						    <p class="card-text">{{ jogador_torneio.posicao_final }}º lugar</p>
						    
						    <a class="card-link" href="{% url 'torneios:detalhar_torneio' jogador_torneio.torneio.id %}">Ver detalhes</a>
					  	</div>
				  	</div>
				  	{% endfor %}
				</div>
		  	</div>
		</div>
	</div>
	{% endif %}
{% endblock %}