{% extends 'base.html' %}
{% load static %}

{% block title %}- Editar {{ torneio.nome }}{% endblock %}

{% block page_header %}
Editar {{ torneio.nome }}
{% endblock %}

{% block extra_header %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
	{% for form_jogador in forms_jogador %}
	<form class="col-12 col-md-6 border-bottom mb-3" action="{% url 'torneios:editar_torneio' torneio.id %}" method="post">
		<h5>{{ form_jogador.instance.seed }} - {{ form_jogador.instance.nome }}</h5>
	    {% csrf_token %}
    	{% include "form_2_colunas.html" with form=form_jogador %}
    	
	  	<input class="col-12 col-md-2 btn btn-lg btn-dark mb-3" type="submit" value="Salvar">
	</form>
	{% endfor %}
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	$('select').select2();
});
</script>
{% endblock %}