{% extends 'base.html' %}
{% load static %}

{% block title %}- Editar {{ torneio.nome }}{% endblock %}

{% block page_header %}
Editar {{ torneio.nome }}
{% endblock %}

{% block extra_header %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
	<ul class="nav nav-pills col-12 mb-3 justify-content-center">
	  	<li class="nav-item">
	    	<a class="nav-link active" href="javascript:;">Jogadores</a>
	  	</li>
	  	{% comment %}
	  	<li class="nav-item">
	    	<a class="nav-link" href="javascript:;">Rounds</a>
	  	</li>
	  	{% endcomment %}
	</ul>
	
	{% for form_jogador in forms_jogador %}
	<form class="col-12 col-md-6 border-bottom mb-3 form-jogador" action="{% url 'torneios:editar_torneio' torneio.id %}" method="post">
		<h5>{{ form_jogador.instance.seed }} - {{ form_jogador.instance.nome }}</h5>
	    {% csrf_token %}
    	{% include "form_2_colunas.html" with form=form_jogador %}
    	
    	<input type="hidden" name="form-jogador" value="{{ form_jogador.instance.id }}" />
    	
    	<div class="alert alert-primary" id="alert-sucess-{{ form_jogador.instance.id }}" style="display: none;">
		  	<a href="javascript:;" class="close" onclick="$(this).parent().hide();">&times;</a>
		  	<span></span>
		</div>
		
	  	<input class="col-12 col-md-2 btn btn-lg btn-dark mb-3" type="submit" value="Salvar">
	</form>
	{% endfor %}
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	$('select').select2();
	
	$('.form-jogador').submit(function(event) {
		event.preventDefault();
		ajax("{% url 'torneios:editar_torneio' torneio.id %}", 
		'POST', 
		$(this).serialize(), 
		function(resultado) {
			$(event.target).find('.alert span').html(resultado.mensagem);
			if (resultado.erro) {
				$(event.target).find('.alert').removeClass('alert-primary').addClass('alert-danger');
			}
			else {
				$(event.target).find('.alert').addClass('alert-primary').removeClass('alert-danger');
			}
			$(event.target).find('.alert').show(); 
        }
    );
	});
});
</script>
{% endblock %}