{% extends 'base.html' %}
{% load static %}

{% block title %}- Editar Stages válidas para Ladder{% endblock %}

{% block page_header %}
Editar Stages válidas para Ladder
{% endblock %}

{% block extra_header %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

{% comment %}
Hackzinho para evitar mostrar opção já selecionada
{% endcomment %}
<style>
.select2-results__option[aria-selected=true] {
    display: none;
}
</style>
{% endblock %}

{% block content %}
	<form id="app" class="col-12" action="{% url 'stages:editar_stages_validas' %}" method="post">
	    {% csrf_token %}
    	<div class="row">
		{% for field in form_stages_validas %}
		    <div class="col-12 col-md-12 py-2" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
		        {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
		        {{ field }}
		        {% if field.help_text %}
		        	<p class="help">{{ field.help_text|safe }}</p>
		        {% endif %}
		        
		    	{% for error in field.errors %}
		    		<div class="text-danger">{{ error }}</div>
		    	{% endfor %}
		    </div>
		{% endfor %}
		</div>
    	
	  	<input class="btn btn-lg btn-dark mt-4" type="submit" value="Salvar">
	</form>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src={% static "jquery.mask.min.js" %} type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function(){
	// Carregar stages válidas
	var stages_validas = {{ stages_validas }};
	var stages_validas_retorno = {{ stages_validas_retorno }};

	$('select').select2({
		width: 'resolve',
		closeOnSelect: false
    });
    
    if ($('#id_retorno').is(':checked')) {
	    $('select').val({{ stages_validas_retorno }});
		$('select').trigger('change');
	} else {
	    $('select').val({{ stages_validas }});
		$('select').trigger('change');
	}
	
	$('#id_retorno').change(function() {
		if ($(this).is(':checked')) {
		    $('select').val({{ stages_validas_retorno }});
			$('select').trigger('change');
		} else {
		    $('select').val({{ stages_validas }});
			$('select').trigger('change');
		}
	});
});
</script>
{% endblock %}