{% extends 'base.html' %}

{% block title %}
{% if apenas_validas_ladder %}
- Lista de Stages
{% else %}
- Lista de Stages válidas para Ladder
{% endif %}
{% endblock %}

{% block page_header %}
{% if apenas_validas_ladder %}
Stages válidas para Ladder
{% else %}
Stages
{% endif %}
{% endblock %}

{% block content %}
	{% for stage in stages %}
	<div class="card col-12 col-md-2">
	  	<div class="card-body">
	  		<h5 class="card-title">{{ stage.nome }}</h5>
		    <h6 class="card-subtitle mb-2 text-muted">{{ stage.descricao_modelo }}</h6>
		    {% if stage.valida_para_ladder %}
		    	<p class="card-text">Válida para Ladder.</p>
		    {% endif %}
		    <a href="{% url 'stages:detalhar_stage_por_id' stage.id %}" class="card-link">Ver detalhes</a>
	  	</div>
	</div>
	{% endfor %}
{% endblock %}