{% extends 'base.html' %}
{% load static %}

{% block title %}- Análises{% endblock %}

{% block page_header %}Análises{% endblock %}


{% block content %}
	<div class="col-12 text-center mb-3">
		<h4>Recomendável ver em dispositivos com telas maiores</h4>
	</div>
	
	<div class="col-12 col-md-12 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Vitórias por personagem
		  	</div>
		  	<div class="card-body col-12" id="cardGrafVitoriasPorPersonagem">
		  		<div id="grafVitoriasPorPersonagem"></div>
			</div>
		</div>
	</div>
	
	<div class="col-12 col-md-12 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Quantidade/Resultado de desafios por posição
		  	</div>
		  	<div class="card-body col-12" id="cardGrafResultadosPorPosicao">
		  		<div id="grafResultadosPorPosicao"></div>
			</div>
		</div>
	</div>	
	
	<div class="col-12 col-md-12 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Resultado acumulado de desafios entre jogadores
		  	</div>
		  	<div class="card-body col-12" id="cardGrafAcumJogadores">
		  		<div class="col-12 text-center mb-0">
		  			<h4><span id="mes"></span> / <span id="ano"></span></h4>
		  		</div>
		  		<div class="col-12 text-center mb-3">
		  			<input class="btn btn-lg btn-dark mt-4" id="ant_acumulado" type="button" value="Anterior">
		  			<input class="btn btn-lg btn-dark mt-4" id="prox_acumulado" type="button" value="Próximo">
	  			</div>
	  			
	  			<div id="grafAcumJogadores"></div>
			</div>
		</div>
	</div>
	
	<div class="col-12 col-md-12 my-2">
		<div class="card">
		  	<div class="card-header bg-cinza-2">
		    	Vitórias/derrotas por diferença de posições
		  	</div>
		  	<div class="card-body col-12">
				<img src="{% static imagens.result_dif_posicao %}" width="48%">
				<img src="{% static imagens.result_dif_posicao_perc %}" width="48%">
			</div>
		</div>
	</div>
	
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>

<script type="text/javascript">
var dataAtual = new Date();
var mes = dataAtual.getMonth() + 1;
var ano = dataAtual.getYear() + 1900;

var max_mes = mes;
var min_mes = 4;

var max_ano = ano;
var min_ano = 2019;

function alterar_mes_ano() {
	$('#mes').html(mes);
	$('#ano').html(ano);
}

$(document).ready(function(){
	alterar_mes_ano();
	
	$('#prox_acumulado').click(function() {
		if ((ano == max_ano && mes < max_mes) || (ano < max_ano)) {
			mes += 1;
			if (mes == 13) {
				ano += 1;
				mes = 1;
			}
			alterar_mes_ano();
			plotGraficoAcumuladoEntreJogadores();
		}
	});
	
	$('#ant_acumulado').click(function() {
		if ((ano == min_ano && mes > min_mes) || (ano > min_ano)) {
			mes -= 1;
			if (mes == 0) {
				ano -= 1;
				mes = 12;
			}
			alterar_mes_ano();
			plotGraficoAcumuladoEntreJogadores();
		}
	});
	
	plotGraficoAcumuladoEntreJogadores();
	plotGraficoResultadosPorPosicao();
	plotGraficoVitoriasPorPersonagem();
});

function plotGraficoAcumuladoEntreJogadores() {
	$('#cardGrafAcumJogadores').block({ 
        message: ''
    });
    
	ajax("{% url 'analise_result_acum_jogadores' %}", 
		'GET', 
		{ano: ano, mes: mes}, 
		function(resultado) {
			var data = [
			  {
				z: resultado.resultado_desafios,
				x: resultado.jogador_enfrentado,
				y: resultado.jogador,
				hovertemplate: 'Jogador: <b>%{y}</b>' +
                        '<br>Oponente: <b>%{x}</b>' +
                        '<br>Resultado: <b>%{z:.2f}</b>',
			  	hoverinfo: 'text',
			  	name: '',
				type: 'heatmap',
				reversescale: true
			  }
			];
			
			var layout = {
			  height: 30 * resultado.jogador.length,
			  xaxis: {
			  	title: 'Oponente enfrentado'
			  }
			};
			
			Plotly.newPlot('grafAcumJogadores', data, layout);
			$('#cardGrafAcumJogadores').unblock(); 
        }
    );
}

function plotGraficoResultadosPorPosicao() {
	$('#cardGrafResultadosPorPosicao').block({ 
        message: ''
    });
    
	ajax("{% url 'analise_resultado_por_posicao' %}", 
		'GET', 
		{}, 
		function(resultado) {
			var data = [
			  {
			  	marker: {
					size: resultado.qtd_desafios,
					color: resultado.resultado,
					sizemin: 5,
					colorscale: 'RdBu',
					showscale: true,
					reversescale: true
				},
				x: resultado.posicao_desafiante,
				y: resultado.posicao_desafiado,
				hovertemplate: 'Desafiante: <b>%{x}</b>' +
                        '<br>Desafiado: <b>%{y}</b>' +
                        '<br>Média: <b>%{marker.color:.2f}</b>',
			  	hoverinfo: 'text',
			  	name: '',
				mode: 'markers',
				type: 'scatter'
			  }
			];
			
			var layout = {
			  hovermode: 'closest',
			  height: 10 * resultado.posicao_desafiado.length,
			  xaxis: {
			  	title: 'Posição do desafiante'
			  },
			  yaxis: {
			  	title: 'Posição do desafiado'
			  }
			};
			
			Plotly.newPlot('grafResultadosPorPosicao', data, layout);
			$('#cardGrafResultadosPorPosicao').unblock(); 
        }
    );
}

function plotGraficoVitoriasPorPersonagem() {
	$('#cardGrafVitoriasPorPersonagem').block({ 
        message: ''
    });
    
	ajax("{% url 'analise_vitorias_por_personagem' %}", 
		'GET', 
		{}, 
		function(resultado) {
			var data = [
			  {
			    opacity: 0.7,
				x: resultado.personagem,
				y: resultado.qtd_lutas,
				hovertemplate: 'Lutas: <b>%{y}</b>',
			  	hoverinfo: 'text',
			  	name: '',
				type: 'bar',
				yaxys: 'y'
			  },
			  {
			    opacity: 0.7,
				x: resultado.personagem,
				y: resultado.perc_vitorias,
				hovertemplate: '% Vitórias: <b>%{y:.2f}</b>',
			  	hoverinfo: 'text',
			  	name: '',
				type: 'bar',
  				yaxis: 'y2'
			  }
			];
			
			var layout = {
			  showlegend: false,
			  xaxis: {
			  	title: 'Personagem'
			  },
			  yaxis: {
			  	title: 'Qtd. lutas'
			  },
			  yaxis2: {
			  	title: '% Vitórias',
			  	overlaying: 'y',
			  	side: 'right'
			  }
			};
			
			Plotly.newPlot('grafVitoriasPorPersonagem', data, layout);
			$('#cardGrafVitoriasPorPersonagem').unblock(); 
        }
    );
}
</script>
{% endblock %}