{% load static %}
<!DOCTYPE html>
<html>
	<head>
	  	<meta charset="utf-8">
	  	<title>{{ NOME_SITE }} {% block title %}{% endblock %}</title>
	  	
	  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		
		<link rel="stylesheet" href="{% static "custom.css" %}" type="text/css">
		{% block extra_header %}
		
		{% endblock %}
	</head>
	<body>
	  	<main>
			<nav class="navbar navbar-expand-lg navbar-light navbar-dark site-header sticky-top">
	  			<a class="navbar-brand" href="{% url 'inicio' %}">CdL UNB</a>
			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    	<span class="navbar-toggler-icon"></span>
			  	</button>
			
			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    	<ul class="navbar-nav mr-auto">
			      		<li class="nav-item {% if request.resolver_match.url_name == 'inicio' %}active{% endif %}">
			        		<a class="nav-link" href="{% url 'inicio' %}">Início</a>
			      		</li>
			      		<li class="nav-item dropdown {% if 'jogadores' in request.resolver_match.namespace %}active{% endif %}"">
			        		<a class="nav-link dropdown-toggle" href="#" id="jogadoresDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          			Jogadores
			        		</a>
			        		<div class="dropdown-menu" aria-labelledby="jogadoresDropdown">
	  							<a class="dropdown-item" href="{% url 'jogadores:listar_jogadores' %}">Ver jogadores</a>
		        			</div>
		        		</li>
		        		<li class="nav-item dropdown {% if 'ladder' in request.resolver_match.namespace %}active{% endif %}"">
			        		<a class="nav-link dropdown-toggle" href="#" id="ladderDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          			Ladder
			        		</a>
			        		<div class="dropdown-menu" aria-labelledby="ladderDropdown">
					  			<a class="dropdown-item" href="{% url 'ladder:adicionar_registro_ladder' %}">Adicionar registro de ladder</a>
					  			<a class="dropdown-item" href="{% url 'ladder:detalhar_ladder_atual' %}">Ladder atual</a>
					  			<a class="dropdown-item" href="{% url 'ladder:listar_ladder_historico' %}">Listar histórico da Ladder</a>
					  			<a class="dropdown-item" href="{% url 'ladder:listar_registros_ladder_pendentes_validacao' %}">Listar registros a validar</a>
		        			</div>
		        		</li>
			      		<li class="nav-item {% if request.resolver_match.url_name == 'detalhar_regras_ladder' %}active{% endif %}">
			        		<a class="nav-link" href="{% url 'ladder:detalhar_regras_ladder' %}">Regras</a>
			      		</li>
			    	</ul>
			    	
				    <div class="my-2 my-lg-0">
				    	<ul class="navbar-nav">
		  				{% if request.user.is_authenticated %}
		  					<li class="nav-item dropdown">
				        		<a class="nav-link dropdown-toggle" href="#" id="jogadorDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          			{{ request.user.username }}
				        		</a>
				        		<div class="dropdown-menu" aria-labelledby="jogadorDropdown">
				          			<a class="dropdown-item" href="#">Meu perfil</a>
				          			<div class="dropdown-divider"></div>
			          				<a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
			        			</div>
		        			</li>
		  				{% else %}
		  					<li class="nav-item {% if request.resolver_match.url_name == 'inicio' %}active{% endif %}">
				        		<a class="nav-link" href="{% url 'login' %}">Login</a>
				      		</li>
			  				
			  			{% endif %}
	        			</ul>
			  		</div>
			  </div>
			</nav>
			
  			<div class="container-fluid mt-2">
		  		<div>
		  			{% if messages %}
					<ul class="messages">
					    {% for message in messages %}
					    <div class="alert alert-{{ message.tags }}" role="alert">
					  		{{ message }}
						</div>
					    {% endfor %}
					</ul>
					{% endif %}
		  		</div>
	  		
				<div class="row mx-2 my-3">
		    	{% block content %}
		    	
		    	{% endblock %}
		    	</div>
	    	</div>
	  	</main>
	  	
	    	
    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    	{% block extra_scripts %}
    	
    	{% endblock %}
	</body>
</html>