{% load static %}
<!DOCTYPE html>
<html>
	<head>
	  	<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	  	<title>{{ NOME_SITE }} {% block title %}{% endblock %}</title>
	  	
	  	{% comment %}
	  	CSS
	  	{% endcomment %}
	  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static "custom.css" %}" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		{% block extra_header %}
		
		{% endblock %}
		
		{% comment %}
		Codigo para Google Analytics
		{% endcomment %}
		{% if PROD %}
	        {% include "analytics.html" %}
        {% endif%}
	</head>
	<body class="bg-cinza-1">
	  	<main class="pb-5">
			<nav class="navbar navbar-expand-lg navbar-light bg-cinza-3 site-header sticky-top">
	  			<a class="navbar-brand" href="{% url 'inicio' %}">
	  				<img src="{% static "img/misc/cdl_logo_red.png" %}" width="60" alt="Clube da Luta"/>
  				</a>
			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    	<span class="navbar-toggler-icon"></span>
			  	</button>
			
			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    	<ul class="navbar-nav mr-auto">
			      		<li class="nav-item {% if request.resolver_match.url_name == 'inicio' %}active{% endif %}">
			        		<a class="nav-link" href="{% url 'inicio' %}">Início</a>
			      		</li>
			      		
			      		<li class="nav-item dropdown {% if 'jogadores' in request.resolver_match.namespace %}active{% endif %}"">
			        		<a class="nav-link dropdown-toggle" href="#" id="jogadoresDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          			Jogadores
			        		</a>
			        		<div class="dropdown-menu" aria-labelledby="jogadoresDropdown">
	  							<a class="dropdown-item" href="{% url 'jogadores:adicionar_sugestao' %}">Adicionar sugestão</a>
	  							<a class="dropdown-item" href="{% url 'jogadores:listar_jogadores' %}">Ver jogadores</a>
	  							<a class="dropdown-item" href="{% url 'jogadores:listar_sugestoes' %}">Ver sugestões</a>
		        			</div>
		        		</li>
		        		
		        		<li class="nav-item dropdown {% if 'personagens' in request.resolver_match.namespace %}active{% endif %}"">
			        		<a class="nav-link dropdown-toggle" href="#" id="personagensDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          			Personagens
			        		</a>
			        		<div class="dropdown-menu" aria-labelledby="personagensDropdown">
	  							<a class="dropdown-item" href="{% url 'personagens:listar_personagens' %}">Ver personagens</a>
		        			</div>
		        		</li>
		        		
		        		<li class="nav-item dropdown {% if 'stages' in request.resolver_match.namespace %}active{% endif %}">
			        		<a class="nav-link dropdown-toggle" href="#" id="stagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          			Stages
			        		</a>
			        		<div class="dropdown-menu" aria-labelledby="stagesDropdown">
	  							{% if request.user.jogador.admin %}
	  								<a class="dropdown-item" href="{% url 'stages:editar_stages_validas' %}">Editar stages válidas p/ Ladder</a>
  								{% endif %}
	  							<a class="dropdown-item" href="{% url 'stages:listar_stages' %}">Ver stages</a>
	  							<a class="dropdown-item" href="{% url 'stages:listar_stages_validas' %}">Ver stages válidas p/ Ladder</a>
	  							
		        			</div>
		        		</li>
		        		
		        		<li class="nav-item dropdown 
		        		{% if 'ladder' in request.resolver_match.namespace and not request.resolver_match.url_name == 'detalhar_regras_ladder' %}
		        		active
		        		{% endif %}">
			        		<a class="nav-link dropdown-toggle" href="#" id="ladderDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          			Ladder
			        		</a>
			        		<ul class="dropdown-menu" aria-labelledby="ladderDropdown">
					  			<li><a class="dropdown-item" href="{% url 'ladder:adicionar_desafio_ladder' %}">Adicionar desafio</a></li>
					  			
					  			{% if request.user.jogador.admin %}
	  							<li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="javascript:;">Aumento de Range</a>
						            <ul class="dropdown-menu">
				              			<li><a class="dropdown-item" href="{% url 'ladder:add_permissao_aumento_range' %}">Permitir</a></li>
				              			<li><a class="dropdown-item" href="{% url 'ladder:remover_permissao_aumento_range' %}">Remover permissão</a></li>
			              			</ul>
		              			</li>
		              			{% endif %}
					  			
	  							<li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="javascript:;">Análises</a>
						            <ul class="dropdown-menu">
				              			<li><a class="dropdown-item" href="{% url 'ladder:analises' %}">Geral</a></li>
				              			<li><a class="dropdown-item" href="{% url 'ladder:analises_por_jogador' %}">Por jogador</a></li>
			              			</ul>
		              			</li>
					  			<li><a class="dropdown-item" href="{% url 'ladder:listar_hall_fama' %}">Hall da Fama</a></li>
					  			<li><a class="dropdown-item" href="{% url 'ladder:listar_ladder_historico' %}">Histórico da Season</a></li>
					  			<li><a class="dropdown-item" href="{% url 'ladder:detalhar_ladder_atual' %}">Ladder atual</a></li>
					  			
					  			<li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="javascript:;">Remoções da ladder</a>
						            <ul class="dropdown-menu">
	  									{% if request.user.jogador.admin %}
				              				<li><a class="dropdown-item" href="{% url 'ladder:listar_remocoes_jogador_ladder' %}">Cancelar remoção</a></li>
		              					{% endif %}
				              			<li><a class="dropdown-item" href="{% url 'ladder:listar_remocoes_jogador_ladder' %}">Listar remoções</a></li>
	  									{% if request.user.jogador.admin %}
				              				<li><a class="dropdown-item" href="{% url 'ladder:remover_jogador_ladder' %}">Remover jogador</a></li>
		              					{% endif %}
			              			</ul>
		              			</li>
		              			
					  			<li><a class="dropdown-item" href="{% url 'ladder:listar_desafios_ladder_pendentes_validacao' %}">Ver desafios a validar</a></li>
		        			</ul>
		        		</li>
		        		
			      		<li class="nav-item {% if request.resolver_match.url_name == 'detalhar_regras_ladder' %}active{% endif %}">
			        		<a class="nav-link" href="{% url 'ladder:detalhar_regras_ladder' %}">Regras</a>
			      		</li>
			      		
		        		<li class="nav-item dropdown {% if 'torneios' in request.resolver_match.namespace %}active{% endif %}">
			        		<a class="nav-link dropdown-toggle" href="#" id="torneiosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          			Torneios
			        		</a>
			        		<ul class="dropdown-menu" aria-labelledby="torneiosDropdown">
	  							{% if request.user.jogador.admin %}
	  							<li><a class="dropdown-item" href="{% url 'torneios:criar_torneio' %}">Adicionar torneio</a></li>
	  							{% endif %}
	  							
	  							<li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="javascript:;">Análises</a>
						            <ul class="dropdown-menu">
				              			<li><a class="dropdown-item" href="{% url 'torneios:analises_torneio_por_jogador' %}">Por jogador</a></li>
				              			<li><a class="dropdown-item" href="{% url 'torneios:analises_torneio_por_time' %}">Por time</a></li>
			              			</ul>
		              			</li>
	  							
	  							<li><a class="dropdown-item" href="{% url 'torneios:listar_torneios' %}">Listar torneios</a></li>
		        			</ul>
		        		</li>
			    	</ul>
			    	
				    <div class="my-2 my-lg-0">
				    	<ul class="navbar-nav">
		  				{% if request.user.is_authenticated %}
		  					<li class="nav-item dropdown" id="menu_jogador">
				        		<a class="nav-link dropdown-toggle" href="#" id="jogadorDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          			{{ request.user.username }}
				        		</a>
				        		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="jogadorDropdown">
				        			<a class="dropdown-item" href="{% url 'jogadores:listar_desafiaveis' request.user.username %}">Jogadores desafiáveis</a>
				          			<a class="dropdown-item" href="{% url 'jogadores:detalhar_jogador' request.user.username %}">Meu perfil</a>
				          			<a class="dropdown-item" href="{% url 'jogadores:listar_avaliacoes' %}">Meu feedback 
				          				<span class="badge badge-pill badge-dark" id="jogador_qtd_feedbacks"></span>
				          			</a>
				          			<a class="dropdown-item" href="{% url 'treinamento:painel_treinamento' %}">Treinamento</a>
				          			<div class="dropdown-divider"></div>
			          				<a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
			        			</div>
		        			</li>
		  				{% else %}
		  					<li class="nav-item {% if request.resolver_match.url_name == 'inicio' %}active{% endif %}">
				        		<a class="nav-link" href="{% url 'login' %}?next={{request.path}}">Login</a>
				      		</li>
			  				
			  			{% endif %}
	        			</ul>
			  		</div>
			  </div>
			</nav>
			
  			<div class="container-fluid mt-2">
		  		<div class="row mx-2 mt-3">
		  			{% if messages %}
					<ul class="messages col-12">
					    {% for message in messages %}
					    <div class="alert alert-{{ message.level_tag }}" role="alert">
					  		{% if 'safe' in message.tags %}
					  			{{ message|safe }}
					  		{% else %}
					  			{{ message }}
				  			{% endif %}
						</div>
					    {% endfor %}
					</ul>
					{% endif %}
		  		</div>
	  		
				<div class="row mx-2 my-3">
				
					<div class="col-12 text-center mb-3">
						<h1>
						{% block page_header %}
						
						{% endblock %}
						</h1>
					</div>
					
			    	{% block content %}
			    	
			    	{% endblock %}
		    	</div>
	    	</div>
	  	</main>
	  	<footer class="footer bg-cinza-2 fixed-bottom">
	      	<div class="d-flex justify-content-around pt-2">
	        	<a href="https://discordapp.com/channels/463864267402379265/470807119713533964">
	        		<i class="fab fa-discord fa-2x"></i>
	        	</a>
	        	<a href="https://www.facebook.com/CDLDF">
	        		<i class="fab fa-facebook fa-2x"></i>
	        	</a>
	        	<a href="https://www.instagram.com/cdl_df">
	        		<i class="fab fa-instagram fa-2x"></i>
	        	</a>
	        	<a href="https://twitter.com/ClubeDaLutaDF">
	        		<i class="fab fa-twitter fa-2x"></i>
	        	</a>
	      	</div>
	    </footer>
	  	
	    	
    	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    	<script type="text/javascript">
			var token = '{{csrf_token}}';
			
    		$('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
			  if (!$(this).next().hasClass('show')) {
			    $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
			  }
			  var $subMenu = $(this).next(".dropdown-menu");
			  $subMenu.toggleClass('show');
			
			
			  $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
			    $('.dropdown-submenu .show').removeClass("show");
			  });
			
			
			  return false;
			});
			function ajax(url, method, data, successFunction) {
				$.ajax({
			        url : url,
			        type : method,
			        data : data,
			        dataType: 'json',
			        headers: { "X-CSRFToken": token },
			
			        // handle a successful response
			        success : function(resultado) {
			        	successFunction(resultado);
			        },
			
			        // handle a non-successful response
			        error : function(xhr,errmsg,err) {
			            console.log(xhr.status + ": " + xhr.responseText);
			        }
			    });
			}    	
			
			$(document).ready(function(){
				$('#menu_jogador').click(function() {
					ajax("{% url 'jogadores:buscar_qtd_feedbacks' %}", 
						'GET', 
						{}, 
						function(resultado) {
				        	// Verifica mensagem de erro
				        	if (resultado.mensagem_erro) {
				        		return;
				        	} 
				        	else {
				        		if (resultado.qtd_feedbacks > 0) {
				        			$('#jogador_qtd_feedbacks').html(resultado.qtd_feedbacks);
				        		}
				        	}
				        }
				    );
			    });
		    });
    	</script>
    	{% block extra_scripts %}
    	
    	{% endblock %}
	</body>
</html>