{% extends 'base.html' %}
{% load static %}

{% block title %}- Home{% endblock %}

{% block page_header %}Bem-vindo à Smashscada!{% endblock %}

{% block extra_header %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}

{% block content %}
	<div class="col-12 d-flex justify-content-center">
		<h5>Top 10</h5>
	</div>
	<div class="col-12 d-md-flex justify-content-md-center">
		<ul class="list-group col-md-3 ladder-top-10 pr-0">
		{% for posicao_ladder in top_10_ladder %}
			<li class="list-group-item d-flex align-items-center {% if posicao_ladder.jogador.is_de_ferias %} ladder-ferias{% endif %}"
			{% if posicao_ladder.jogador.is_de_ferias %}title="Jogador está de férias"{% endif %}>
				<div class="col-2 pl-0 posicao-ladder"><strong>{{ posicao_ladder.posicao }}</strong></div>
				<a class="col-6 text-center" href="{% url 'jogadores:detalhar_jogador' posicao_ladder.jogador.user.username %}">{{ posicao_ladder.jogador.nick }}</a>
				{% if posicao_ladder.posicao == 1 and posicao_ladder.jogador.main %}
					<img title="{{ posicao_ladder.jogador.main.nome }}" class="ml-auto ladder-personagem" src="{% static posicao_ladder.jogador.main.imagem %}" />
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>
	
	<div class="mt-4 col-12 d-flex justify-content-center">
		<h5>Últimos desafios adicionados</h5>
	</div>
	{% for desafio_ladder in ultimos_desafios_ladder %}
	<div class="card col-12 col-md-3">
	  	<div class="card-body">
	  		<div class="row d-flex">
		  		<div class="col-5 text-left d-flex flex-column">
			    	<h5 class="card-title mb-0">{{ desafio_ladder.desafiante.nick }}</h5>
			    	<h6 class="card-title {% if desafio_ladder.score_desafiante > desafio_ladder.score_desafiado %}
		  				text-success
		  			{% else %}
		  				text-danger
		  			{% endif %}">{{desafio_ladder.score_desafiante}}</h6>
		    	</div>
		  		<div class="col-2 text-center">
			    	<h5 class="card-title">VS</h5>
		    	</div>
		  		<div class="col-5 text-right">
			    	<h5 class="card-title mb-0">{{ desafio_ladder.desafiado.nick }}</h5>
			    	<h6 class="card-title
		  			{% if desafio_ladder.score_desafiado > desafio_ladder.score_desafiante %}
		  				text-success
		  			{% else %}
		  				text-danger
		  			{% endif %}">{{desafio_ladder.score_desafiado}}</h6>
		    	</div>
	    	</div>
	    	
		    <h6 class="card-subtitle mb-2 text-muted">{{ desafio_ladder.data_hora|date:'d/m/Y H:i' }}</h6>
		    
		    {% if desafio_ladder.is_cancelado %}
		    	<p class="card-text">Desafio cancelado</p>
		    {% elif desafio_ladder.is_validado %}
		    	<p class="card-text">Desafio validado</p>
		    {% else %}
		    	<p class="card-text">Desafio aguardando validação</p>
		    {% endif %}
		    
		    <a class="card-link" href="{% url 'ladder:detalhar_desafio_ladder' desafio_ladder.id %}">Ver detalhes</a>
	    	{% if request.user.jogador.admin and not desafio_ladder.is_validado %}
		    	<a class="card-link" href="{% url 'ladder:validar_desafio_ladder' desafio_ladder.id %}">Validar</a>
		    {% endif %}
			{% if desafio_ladder.is_cancelavel %}			    
		    	<a class="card-link" href="{% url 'ladder:cancelar_desafio_ladder' desafio_ladder.id %}">Cancelar</a>
	    	{% endif %}
	  	</div>
	</div>
	{% endfor %}
{% endblock %}