{% extends 'base.html' %}

{% block title %}- Adicionar resultado de treinamento{% endblock %}

{% block page_header %}Resultado de treinamento{% endblock %}

{% block extra_header %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
	<form class="col-12" action="{% url 'treinamento:add_resultado_treinamento' registro_treinamento.id %}" method="post">
	    {% csrf_token %}
	    
	    {% include "form.html" with form=form_resultado_treinamento %}
	    
	  	<input class="btn btn-lg btn-dark mt-4" type="submit" name="salvar" value="Salvar">
	</form>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	$('select').select2();
});
</script>
{% endblock %}